<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      Palette {% block title %}{{ _("Welcome") }}{% end %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Palette</a>
        </div>
      </div>
    </div>

    <div class="container">
      {% for message in messages %}
        <div class="alert alert-{{ message['type'] }}">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          {{ message['content'] }}
        </div>
      {% end %}
      {% block content %}{% end %}
    </div>

    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
